<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>book</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container" id="info">
    	<div id="left">
        	
        </div>
        
        <div id="right">
        	<p id="a">TP393.081/3</p>
            <p id="b">靳丛林</p>
            <p id="c">北京 : 北京大学出版社,2012</p>
            <p id="d">CNY98.00 (含光盘)</p>
            <p id="e">978-7-302-27360-8</p>
        </div>
    </div>
    
     <div class="container" id="status">
     	<p class="f">光盘 外借本 在架上 南校区中文新书库（1楼）</p>
        <p class="f">光盘 外借本 在架上 南校区中文新书库（1楼）</p>
        <p class="f">光盘 外借本 在架上 南校区中文新书库（1楼）</p>
        <p class="f">光盘 外借本 在架上 南校区中文新书库（1楼）</p>
    </div>
    
    <div class="container" id="content">
    	<div id="g">
        	<p>日本学者竹内好对中国作家鲁迅的研究一直是中日思想界和文学
                界不可绕过的重大课题，遂有“竹内鲁迅”之说。《培文书系·文学
                与当代史丛书：竹内好的鲁迅研究》力图在描述日本鲁迅研究的历史
                基础上鉴别、比较、发掘“竹内鲁迅”的独特内涵。同时，《培文书
                系·文学与当代史丛书：竹内好的鲁迅研究》的理论创新还体现在如
                何看待异国知识分子借鲁迅来反 ( 更多 )
              </p>
        </div>
    </div>
</body>
</html>
