<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>book</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<script src="/css/jq.mobi.js" type="text/javascript"></script>
</head>

<body>
	<div class="container" id="info">
		<div id="left">
			<img src="/css/default.png" />
        	</div>
        
        <div id="right">
        </div>
    </div>
    
		<div class="container" id="status">
    </div>
    
    <div class="container" id="content">
    	<div id="g">
			</div>
    </div>
</body>
</html>
<script>
$.ajax({
	type: 'post',
	url: window.location.pathname,
	success: function(data){
		var data = eval("(" + data + ")");
		var new_image = $('<img style="display:hidden" src="http://api2.sysujwxt.com/cover?isbn='+data.isbn+'"/>');
		console.log(new_image);
		new_image.load(function(){
			$("#left img").remove();
			$("#left").append(new_image);
		});

		$("#right").append('<p id="a">' + data.pin + '</p>');
		$("#right").append('<p id="b">' + data.author + '</p>');
		$("#right").append('<p id="c">' + data.publish + '</p>');
		//$("#right").append('<p id="d">' + data.price + '</p>');
		$("#right").append('<p id="d">' + data.isbn + '</p>');
		
		var status = data.status;
		console.log(status);
		for(var i = 0; i < status.length; i++){
			if(status[i]['loan-status']){
				status[i]['loan-status'] = "借出";
			}
			else {
				status[i]['loan-status'] = "在馆";
				status[i]['loan-due-date'] = "";
			}
			$("#status").append('<p class="f">'+status[i]['loan-status']+' '+status[i]['loan-due-date']+' '+status[i]['sub-library']+' '+status[i].description+'</p>');
			//$("#status").append('<p class="f">'+status[i].status+' '+status[i].rt_date+' '+status[i].location+' '+status[i].type+'</p>');
		}
		$("#g").append('<p>'+data.summary+'</p>');
	}
});
</script>
